<div id="header">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h1 id="logo"> Company Name</h1>
      </div>
      <div class="col-md-8">
        <ul id="menu" class="float-md-end ">
          <li><a href="">Home</a></li>
          <li><a href="">About</a></li>
          <li><a href="">Gallery</a></li>
          <li><a href="">Products</a></li>
          <li><a href="">Contect Us</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>


<div id="banner" class="py-5">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-lg-6">
        <div class="banner-title">
          <h1 class="title">Heading goes here</h1>
          <p class="lead">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Repudiandae pariatur ratione quaerat
            accusamus?
            Maiores, possimus aspernatur! Tempora aperiam non beatae.</p>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="container section">
  <div class="row">
    <div class="col-md-12">
      <h2 class="section-head"> Some Heading Goes Here</h2>
    </div>
    <div class=" col-sm-6 col-md-4">
      <div class="service-box">
        <i class="fa fa-anchor"></i>
        <h3>Some Heading</h3>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Magnam, mollitia.</p>
      </div>
    </div>
    <div class="col-sm-6 col-md-4">
      <div class="service-box">
        <i class="fa fa-chart-column"></i>
        <h3>Some Heading</h3>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Magnam, mollitia.</p>
      </div>
    </div>
    <div class="col-sm-6 col-md-4">
      <div class="service-box">
        <i class="fa fa-gem"></i>
        <h3>Some Heading</h3>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Magnam, mollitia.</p>
      </div>
    </div>
  </div>
</div>




<div id="testimonial" class="section">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2 class="section-head text-white"> Testimonials</h2>
      </div>
      <div class="col-md-6">
        <div class="testimonial">
          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quod in veniam non rem molestias? Sed.</p>
          <img src="../assets/bill.jpg" alt="">
          <div class="author">Bill Gates</div>
          <div class="author-company">Microsoft</div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="testimonial">
          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quod in veniam non rem molestias? Sed.</p>
          <img src="../assets/steve.jpg" alt="">
          <div class="author">Steve jobs</div>
          <div class="author-company">Apple</div>
        </div>
      </div>
    </div>
  </div>
</div>


<div id="id" class="container section">
  <div class="row">
    <div class="col-12">
      <h2 class="section-head "> Recent News</h2>
    </div>
    <div class=" col-md-6 col-lg-3">
      <div class="class-post">
        <img src="../assets/news1.jpg" alt="">
        <h3><a href="" class="text-decoration-none"> News Heading </a></h3>
        <div class="post-date">April 30, 2023</div>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum, placeat.</p>
        <a href="" class="readmore text-decoration-none"> Read More</a>
      </div>
    </div>
    <div class="col-md-6 col-lg-3">
      <div class="class-post">
        <img src="../assets/news2.jpg" alt="">
        <h3><a href="" class="text-decoration-none"> News Heading </a></h3>
        <div class="post-date">April 30, 2023</div>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum, placeat.</p>
        <a href="" class="readmore text-decoration-none"> Read More</a>
      </div>
    </div>
    <div class="col-md-6 col-lg-3">
      <div class="class-post">
        <img src="../assets/news3.jpg" alt="">
        <h3><a href="" class="text-decoration-none"> News Heading </a></h3>
        <div class="post-date">April 30, 2023</div>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum, placeat.</p>
        <a href="" class="readmore text-decoration-none"> Read More</a>
      </div>
    </div>
    <div class="col-md-6 col-lg-3">
      <div class="class-post">
        <img src="../assets/news4.jpg" alt="">
        <h3><a href="" class="text-decoration-none"> News Heading </a></h3>
        <div class="post-date">April 30, 2023</div>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum, placeat.</p>
        <a href="" class="readmore text-decoration-none"> Read More</a>
      </div>
    </div>
  </div>
</div>

<div id="footer-sidebar">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-md-4">
        <div class="footer-widget">
          <h4>About Company</h4>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod eaque cupiditate quia optio deserunt quae!
          </p>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat, quis?</p>
        </div>
      </div>
      <div class="col-sm-6 col-md-4">
        <div class="footer-widget">
          <h4>Latest News</h4>
          <ul class="Latest-News list-unstyled  ">
            <li><a href="" class="text-decoration-none text-white">Lorem ipsum dolor sit amet.</a></li>
            <li><a href="" class="text-decoration-none text-white">Lorem ipsum dolor sit amet.</a></li>
            <li><a href="" class="text-decoration-none text-white">Lorem ipsum dolor sit amet.</a></li>
            <li><a href="" class="text-decoration-none text-white">Lorem ipsum dolor sit amet.</a></li>
            <li><a href="" class="text-decoration-none text-white">Lorem ipsum dolor sit amet.</a></li>
          </ul>
        </div>
      </div>
      <div class="col-sm-6 col-md-4">
        <div class="footer-widget">
          <h4>Company Address</h4>
          <address>
            <b>Bm Patil, Inc.</b><br>
            585105 filter bed road<br>
            gulbarga Karnataka<br>
            +91-1234567890
          </address>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-6">Copyright@2023 Company Name.</div>
      <div class="col-md-6">
        <ul id="social-icons" class="float-md-end">
          <li> <a href=""  class="fa-brands fa-square-facebook"></a></li>
          <li> <a href=""  class="fa-brands fa-linkedin"></a></li>
          <li> <a href=""  class="fa-brands fa-twitter"></a></li>


        </ul>
      </div>

    </div>
  </div>
</div>